<div class="uk-section section-team">
  <h3>Comparison to other popular Gem Servers</h3>
  <div>
      <table>
          <tr>
              <th>Feature</th>
              <th>Gemfast</th>
              <th>Gem in a Box</th>
              <th>Gemstash</th>
          </tr>
          <tr>
              <td>RubyGems Mirror/Cache</td>
              <td>✅</td>
              <td>✅</td>
              <td>✅</td>
          </tr>
          <tr>
              <td>Private Gem Hosting</td>
              <td>✅</td>
              <td>✅</td>
              <td>✅</td>
          </tr>
          <tr>
              <td>Vulnerability Scanning</td>
              <td>✅</td>
              <td>❌</td>
              <td>❌</td>
          </tr>
          <tr>
              <td>Official .deb packages</td>
              <td>✅</td>
              <td>❌</td>
              <td>❌</td>
          </tr>
          <tr>
              <td>Allow/Deny List Gems</td>
              <td>✅</td>
              <td>❌</td>
              <td>❌</td>
          </tr>
          <tr>
              <td>Dedicated Support</td>
              <td>✅</td>
              <td>❌</td>
              <td>❌</td>
          </tr>
          <tr>
              <td>Access Control List</td>
              <td>Fine grained</td>
              <td>None</td>
              <td>Limited</td>
          </tr>
          <tr>
              <td>Web Server</td>
              <td>Caddy with Automatic HTTPS</td>
              <td>None</td>
              <td>None</td>
          </tr>
          <tr>
              <td>Auth</td>
              <td>JWT, GitHub OAuth</td>
              <td>None</td>
              <td>API Token</td>
          </tr>
          <tr>
              <td>Metrics</td>
              <td>Prometheus</td>
              <td>None</td>
              <td>None</td>
          </tr>
          <tr>
              <td>Dependencies</td>
              <td>None</td>
              <td>Ruby</td>
              <td>Ruby, SQLite or Postgres, Memcached</td>
          </tr>
      </table>
  </div>
</div>
