
pre.highlight {
    background-color: #FAF9F6;
    // border: solid 1px $border-xlight;
    box-shadow: $global-medium-box-shadow;
    // padding: $padding-padding;
    // border-radius: $border-radius-small;
    color: #171515;
    // font-size: 1em;
    font-weight: 300;
}